body{
  padding: 85px;
  height: 3000px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  padding: 5px;
  z-index: 1000;
}
.left-section {
    display: flex;
    align-items: center;
}
.middle-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.menu-icon {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.youtube-logo {
  height: 30px;
  cursor: pointer;
}
.upload-icon {
  height: 30px;
  cursor: pointer;
}
.youtube-apps-icon {
    height: 30px;
    cursor: pointer;
}
.notifications-icon {
  height: 30px;
  cursor: pointer;
}
.my-profile-picture {
  width: 40px;
  border-radius: 50px;
  margin-right: 20px;
  cursor: pointer;
}
.youtube-search {
    height: 40px;
    width: 60px;
    border-radius: 2px;
    padding: 8px;
    border: solid 1px rgb(192, 192, 192);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    margin-left: -2px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-search .search-tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.youtube-search:hover .search-tooltip {
  opacity: 1;
}
.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
    width: 0;
    min-width: 50px;
}
.search-bar::placeholder {
    font-size: 16px;
    padding-left: 10px;
}
.youtube-search-icon {
    height: 24px;
}
.youtube-voice-search-icon {
    height: 24px;
}
.youtube-voice-search {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.youtube-voice-search .voice-search-tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.youtube-voice-search:hover .voice-search-tooltip {
  opacity: 1;
}
.notifications-number {
    font-size: 12px;
    color: white;
    background-color: #e1002d;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: -2px;
    right: -3px;
}
.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.notifications-tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.notifications-icon-container:hover .notifications-tooltip {
  opacity: 1;
}
.upload-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.upload-tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.upload-icon-container:hover .upload-tooltip {
  opacity: 1;
}
.youtube-apps-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.youtube-apps-tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.youtube-apps-icon-container:hover .youtube-apps-tooltip {
  opacity: 1;
}