.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 72px;
    top: 65px;
    z-index: 999;
    padding-top: 5px;
}
.sidebar-link{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    margin-bottom: 1px;
}
.sidebar-link:hover {
    background-color: lightgray;
    cursor: pointer;
}
.sidebar-link img {
    height: 32px;
    margin-bottom: 4px;
}
.sidebar-link div {
    font-size: 10px;
    font-weight: 500;
}