.thumbnail {
  position: relative;
  width: 100%;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-picture {
  width: 50px;
  vertical-align: top;
}

.video-info {
  width: 100%;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-container {
  position: relative;
  margin-bottom: 8px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}
.video-info-container {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 650px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 651) and (max-width: 850px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.timestamp{
  font-weight: 500;
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
}